<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>orderArray</key>
	<array>
		<dict>
			<key>title</key>
			<string>已发货</string>
			<key>orderId</key>
			<string>103987654356</string>
			<key>array</key>
			<array>
				<dict>
					<key>num</key>
					<string>20</string>
					<key>sale</key>
					<string>15.00</string>
					<key>name</key>
					<string>玫瑰卡罗拉A级</string>
				</dict>
				<dict>
					<key>num</key>
					<string>11</string>
					<key>sale</key>
					<string>10.00</string>
					<key>name</key>
					<string>百合</string>
				</dict>
				<dict>
					<key>num</key>
					<string>12</string>
					<key>sale</key>
					<string>05.00</string>
					<key>name</key>
					<string>海棠</string>
				</dict>
				<dict>
					<key>num</key>
					<string>34</string>
					<key>sale</key>
					<string>23.00</string>
					<key>name</key>
					<string>白柑菊</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>已签收</string>
			<key>orderId</key>
			<string>1268714689754</string>
			<key>array</key>
			<array>
				<dict>
					<key>num</key>
					<string>20</string>
					<key>sale</key>
					<string>15.00</string>
					<key>name</key>
					<string>玫瑰卡罗拉A级</string>
				</dict>
				<dict>
					<key>num</key>
					<string>15</string>
					<key>sale</key>
					<string>18.00</string>
					<key>name</key>
					<string>玫瑰桃雪山A级</string>
				</dict>
				<dict>
					<key>num</key>
					<string>8</string>
					<key>sale</key>
					<string>08.00</string>
					<key>name</key>
					<string>郁金香</string>
				</dict>
				<dict>
					<key>num</key>
					<string>11</string>
					<key>sale</key>
					<string>10.00</string>
					<key>name</key>
					<string>百合</string>
				</dict>
				<dict>
					<key>num</key>
					<string>12</string>
					<key>sale</key>
					<string>05.00</string>
					<key>name</key>
					<string>海棠</string>
				</dict>
				<dict>
					<key>num</key>
					<string>34</string>
					<key>sale</key>
					<string>23.00</string>
					<key>name</key>
					<string>白柑菊</string>
				</dict>
				<dict>
					<key>num</key>
					<string>23</string>
					<key>sale</key>
					<string>17.00</string>
					<key>name</key>
					<string>悠悠草</string>
				</dict>
				<dict>
					<key>num</key>
					<string>15</string>
					<key>sale</key>
					<string>07.00</string>
					<key>name</key>
					<string>蝴蝶兰</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>待付款</string>
			<key>orderId</key>
			<string>134876145322</string>
			<key>array</key>
			<array>
				<dict>
					<key>num</key>
					<string>20</string>
					<key>sale</key>
					<string>15.00</string>
					<key>name</key>
					<string>玫瑰卡罗拉A级</string>
				</dict>
				<dict>
					<key>num</key>
					<string>15</string>
					<key>sale</key>
					<string>18.00</string>
					<key>name</key>
					<string>玫瑰桃雪山A级</string>
				</dict>
				<dict>
					<key>num</key>
					<string>8</string>
					<key>sale</key>
					<string>08.00</string>
					<key>name</key>
					<string>郁金香</string>
				</dict>
				<dict>
					<key>num</key>
					<string>11</string>
					<key>sale</key>
					<string>10.00</string>
					<key>name</key>
					<string>百合</string>
				</dict>
				<dict>
					<key>num</key>
					<string>12</string>
					<key>sale</key>
					<string>05.00</string>
					<key>name</key>
					<string>海棠</string>
				</dict>
				<dict>
					<key>num</key>
					<string>34</string>
					<key>sale</key>
					<string>23.00</string>
					<key>name</key>
					<string>白柑菊</string>
				</dict>
				<dict>
					<key>num</key>
					<string>23</string>
					<key>sale</key>
					<string>17.00</string>
					<key>name</key>
					<string>悠悠草</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
